@import url("https://fonts.googleapis.com/css2?family=Archivo:wght@400;600&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --bg-primary: #ffffff;
    --bg-secondary: #efe9fc;
    --bg-sidebar: #f7f7f7;
    --bg-input: #ffffff;
    --bg-user-message: #efe9fc;
    --bg-decoration: #f7f7f7;

    --text-primary: #0e1117;
    --text-secondary: #5f24e0;
    --text-muted: #ababab;
    --text-chat: #1c0b43;

    --icon-primary: #a6b5bb;
    --icon-hover: #5f24e0;

    --border-color: #a6b5bb;
  }

  .dark {
    --bg-primary: #1c0b43;
    --bg-secondary: #1c0b43;
    --bg-sidebar: rgba(191, 167, 243, 0.8);
    --bg-input: rgba(191, 167, 243, 0.8);
    --bg-user-message: rgba(191, 167, 243, 0.8);
    --bg-decoration: rgba(191, 167, 243, 0.8);

    --text-primary: #efe9fc;
    --text-secondary: #bfa7f3;
    --text-muted: #efe9fc;
    --text-chat: #efe9fc;

    --icon-primary: #ffbf00;
    --icon-hover: #e6ac00;

    --border-color: #bfa7f3;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p,
  span,
  div,
  a {
    margin-block-start: 0;
    margin-block-end: 0;
    line-height: 1.2;
  }
}

.nav-link {
  position: relative;
  font-family: "Archivo", sans-serif;
  font-weight: 600;
  font-size: 1.25rem;
  text-decoration: none;
  padding: 0.25rem 0;
  transition: color 200ms ease-in-out;
}

.nav-link::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 0.125rem;
  bottom: 0;
  left: 0;
  background-color: var(--text-secondary);
  transform: scaleX(0);
  transform-origin: bottom right;
  transition: transform 200ms ease-in-out;
}

.nav-link:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}
